<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Ventas</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

<div class="layout">

<aside class="sidebar">

<h2>Tienda de Zapatos mio</h2>

<ul>

<li><a href="/">🏠 Inicio</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/ia">IA Comercial</a></li>
<li><a href="/tendencias">Tendencias</a></li>
<li><a href="/ventas">Ventas</a></li>
<li><a href="/inventario">Inventario</a></li>
<li><a href="/alertas">Alertas</a></li>

</ul>

</aside>

<main class="main">

<h1>Gestión Inteligente de Ventas</h1>

<div class="resultado">

<h3>Ventas registradas</h3>

<table class="tabla">

<thead>

<tr>

<th>#</th>
<th>Venta</th>
<th>Temporada</th>
<th>Método de Pago</th>

</tr>

</thead>

<tbody>

{% for item in ventas %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ item.venta }}</td>

<td>{{ item.temporada }}</td>

<td>{{ item.metodo }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</main>

</div>

</body>
</html>